h1 {
    text-align: center;
    color: black;
    font-family: 'Poppins';
  font-weight: bold;
  }
  
  .one {
    text-align: center;
    border-radius: 12px;
    font-family: "Poppins";

    
  }
  
  .two {
    text-align: center;
  
  }
  
  .three,
  .two {
    text-align: center;
    margin-top: 50px;
    font-family: "Poppins";
  }
  
  body {
    background:linear-gradient(
        135deg,
        rgb(153, 117, 135),
        rgb(166, 172, 40)
    );
    padding: 20px;
  }

  .btn,
  .paste-btn{
    margin:0px 20px 0px 20px;
    padding:8px 16px;
    
  }

  #text{
    border-radius: 6px;
  }

  #paste{
    border-radius: 6px;
  }


